/*-----------------------*\
  #custom property
\*-----------------------*/

:root {
    /* primary color palette */
    --primary-color: #40b2e3;
    --primary-50: #f2f9fd;
    --primary-100: #e3f1fb;
    --primary-200: #c1e4f6;
    --primary-300: #8acfef;
    --primary-500: #249ed3;
    --primary-600: #167fb3;
    --primary-700: #136591;
    --primary-800: #145678;
    --primary-900: #164864;
    --primary-950: #0f2e42;

    /* secondary color palette */
    --secondary-color: #25d2ac;
    --secondary-50: #ebfef8;
    --secondary-100: #cffcec;
    --secondary-200: #a4f6dc;
    --secondary-300: #69eccb;
    --secondary-500: #09c09f;
    --secondary-600: #009c82;
    --secondary-700: #007d6b;
    --secondary-800: #026356;
    --secondary-900: #035147;
    --secondary-950: #002e2a;

    /* tertiary color */
    --tertiary-color: #00a59b;
    --tertiary-50: #effefb;
    --tertiary-700: #058079;
    --tertiary-800: #0a6562;

    /* colors */
    --primary-color-blue: #31425b;
    --secondary-color-blue-grey: #a7bad2;

    /* natural colors */
    --black: #141414;
    --white: #fcfcfc;

    /* text from primary colors */
    --text-primary-dark: #2d363d;
    --text-primary: #45525d;
    --text-primary-light: #65727e;

    /* font family */
    --ff-raleway: 'Raleway';

    /* font size */
    --display1-size: 72px;

    --heading1-size: 56px;
    --heading2-size: 48px;
    --heading3-size: 32px;
    --heading4-size: 24px;

    --paragraph1-size: 18px;
    --paragraph2-size: 16px;

    --button-text-size1: 20px;
    --button-text-size2: 18px;
    --button-text-size3: 16px;

    /* radius */
    --radius-50: 50px;

    /* transition */
    --transition-1: 0.15s ease;
    --transition-2: 0.35s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    -webkit-tap-highlight-color: transparent;
    /* Safari, iOS */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Older versions of Chrome, WebKit */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Newer versions of Chrome, WebKit (blink) */
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    /* Firefox */
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    /* IE, Edge */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}


/*-----------------------*\
  #nav design
\*-----------------------*/


.header .btn {
    display: none;
}

.header {
    /* color: var(--text-primary); */
    color: var(--primary-600);
    /* color: var(--primary-color-blue); */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 14px;
    padding: 10px 128px 0px 128px;
    z-index: 4;
    transition: var(--transition-1);
}

@media (max-width: 990px) {
    .profile-and-menu {
        display: flex;
        gap: 32px;
        /* align-items: last baseline; */
        align-items: center;
    }

    #logoProfile {
        margin-top: -8px;
    }
}

@media (max-width: 960px) {
    .header {
        padding: 10px 96px 0px 96px;
    }
}

@media (max-width: 960px) {
    .header {
        padding: 10px 72px 0px 72px;
    }
}

@media (max-width: 800px) {
    .header {
        padding: 10px 56px 0px 56px;
    }
}

@media (max-width: 650px) {
    .header {
        padding: 10px 40px 0px 40px;
    }
}

@media (max-width: 500px) {
    .header {
        padding: 10px 24px 0px 24px;
    }
}

@media (max-width: 440px) {
    .profile-and-menu {
        gap: 16px;
    }

    .logo-header {
        width: 151px;
    }
}

@media (max-width: 400px) {}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.logo {
    color: var(--primary-600);
    font-family: var(--ff-raleway);
    font-size: var(--heading4-size);
}

.logo-nav {
    color: var(--primary-600);
    font-family: var(--ff-raleway);
    font-weight: 700;
    font-size: 20px;
}

.nav-open-btn {
    color: var(--primary-600);
    font-size: 32px;
    padding: 4px;
    background: none;
    border: none;
}

.navbar {
    background-color: var(--white);
    position: fixed;
    top: 0;
    /* left: -280px; */
    float: right;
    right: -280px;
    width: 100%;
    max-width: 280px;
    min-height: 100%;
    align-items: center;
    padding: 20px;
    visibility: hidden;
    z-index: 999;
    transition: 0.25s var(--cubic-in);
}

.navbar.active {
    /* transform: translateX(280px); */
    right: 0;
    visibility: visible;
    transition: 0.5s var(--cubic-out);
    z-index: 999;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 10px 30px;
}

/* .navbar-top .logo {
    color: var(--winter-sky); */
/* color: #1389BD;
    color: var(--purple-light);
    font-size: 4.2rem;
    font-weight: var(--fw-700);
} */

.nav-close-btn {
    display: flex;
    color: var(--primary-600);
    font-size: 32px;
    padding: 4px;
    background: none;
    border: none;
}

/* .navbar-item:not(:last-child) {
    border-bottom: 1px solid #c6c6c687;
} */

.navbar-item {
    padding: 10px 10px 10px 0px;
}

.navbar-link {
    /* color: var(--text-primary); */
    color: var(--primary-600);
    font-family: var(--ff-raleway);
    font-size: var(--paragraph2-size);
    font-weight: 600;
    padding-block: 12px;
    transition: var(--transition-2);
}

.navbar-link:hover {
    color: var(--secondary-500);
    transition: var(--transition-2);
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    /* background-color: var(--white); */
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-2);
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
}

.login-btn {
    padding: 10px 20px;
    /* background-color: var(--secondary-color); */
    /* background-color: var(--secondary-500); */
    background-color: var(--tertiary-color);
    /* background-color: var(--primary-color-blue); */
    font-family: var(--ff-raleway);
    font-weight: 600;
    color: var(--white);
    border-radius: var(--radius-50);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: var(--button-text-size3);
    transition: var(--transition-1);
    gap: 5px;
}

#login-nav {
    background-color: var(--tertiary-color);
    width: 100%;
    text-align: center;
    border-radius: 8px;
    margin-top: 24px;
}

@media (min-width: 550px) {
    #login-nav {
        display: none;
    }
}

#login-nav a {
    color: var(--white);
    font-weight: 600;
    /* padding-left: 20px; */
}

/* .login-btn span {
    margin-top: 1.8px;
} */

.login-btn ion-icon {
    font-size: 20px;
}

.login-btn:hover {
    transition: var(--transition-1);
    /* background-color: var(--secondary-700); */
    background-color: var(--tertiary-700);
}

.loggedin-btn {
    background-color: var(--tertiary-color);
    color: var(--white);
    padding: 8px;
    border-radius: var(--radius-50);
    font-family: var(--ff-raleway);
    font-weight: 600;
}

.dropdown-acc {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #bbbdbe;
    padding: 16px 16px 10px 16px;
}

.logo-profile {
    background-color: var(--tertiary-color);
    color: var(--white);
    padding: 8px;
    border-radius: var(--radius-50);
    font-family: var(--ff-raleway);
    font-weight: 600;
    /* width: fit-content; */
}

.profile-details {
    color: var(--text-primary);
}

.profile-details h3 {
    font-size: var(--paragraph1-size);
}

.profile-details p {
    font-size: var(--paragraph2-size);
}

.dropdown-details {
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    border-bottom: 1px solid #bbbdbe;
    padding-bottom: 10px;
    /* gap: 10px; */
    /* padding: 16px; */
}

.dropdown-details a {
    color: var(--text-primary);
    font-weight: 500;
    padding: 6px 16px;
}

.dropdown-details a:hover {
    background-color: #eaeaea;
}

.logout-div {
    margin-top: 4px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.logout-div a {
    color: rgb(216, 58, 58);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    padding: 6px 16px;
}

.logout-div a ion-icon {
    font-size: 18px;
}

.pd8-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    white-space: nowrap;
    text-decoration: none;
    background-color: var(--tertiary-color);
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease;
    will-change: transform;
    padding: 8px;
    border-radius: var(--radius-50);
    border-radius: 0.25em;
}

.pd8-btn:focus-visible {
    box-shadow: 0px 0px 0px 2px hsl(var(--pd8-color-bg-hsl)), 0px 0px 0px 4px hsla(var(--pd8-color-contrast-higher-hsl), 0.15);
    outline: none;
}

.pd8-btn:active {
    transform: translateY(2px);
}

.pd8-btn--primary {
    /* background: hsl(var(--pd8-color-primary-hsl)); */
    /* color: hsl(var(--pd8-color-white-hsl)); */
    background-color: var(--tertiary-color);
    color: var(--white);
    border: none;
    border-radius: var(--radius-50);
    box-shadow: inset 0px 1px 0px hsla(var(--pd8-color-white-hsl), 0.15), 0px 1px 3px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0px 2px 6px hsla(var(--pd8-color-primary-darker-hsl), 0.1), 0px 6px 10px -2px hsla(var(--pd8-color-primary-darker-hsl), 0.25);
}

/* .pd8-btn--primary:hover {
    background: hsl(var(--pd8-color-primary-light-hsl));
    box-shadow: inset 0px 1px 0px hsla(var(--pd8-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--pd8-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--pd8-color-primary-darker-hsl), 0.25);
} */

.pd8-btn--primary:focus {
    box-shadow: inset 0px 1px 0px hsla(var(--pd8-color-white-hsl), 0.15), 0px 1px 2px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0px 1px 4px hsla(var(--pd8-color-primary-darker-hsl), 0.1), 0px 3px 6px -2px hsla(var(--pd8-color-primary-darker-hsl), 0.25), 0px 0px 0px 2px hsl(var(--pd8-color-bg-hsl)), 0px 0px 0px 4px hsl(var(--pd8-color-primary-hsl));
}

/* component */
:root {
    --popover-width: 250px;
    --popover-control-gap: 4px;
    --popover-viewport-gap: 20px;
    --popover-transition-duration: 0.2s;
}

.popover {
    position: fixed;
    width: var(--popover-width);
    z-index: 5;
    margin-top: var(--popover-control-gap);
    margin-bottom: var(--popover-control-gap);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--popover-transition-duration), opacity var(--popover-transition-duration);
}

.popover--is-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity var(--popover-transition-duration);
}

/* utility classes */
.pd8-text-sm {
    font-size: var(--paragraph2-size);
}

.pd8-text-base {
    font-size: var(--paragraph1-size);
}

.pd8-text-gap-sm {
    --pd8-space-multiplier: 0.75;
}

/* .pd8-text-component :where(h1, h2, h3, h4) {
    line-height: var(--pd8-heading-line-height, 1.2);
    margin-top: calc(var(--pd8-space-md) * var(--pd8-space-multiplier, 1));
    margin-bottom: calc(var(--pd8-space-sm) * var(--pd8-space-multiplier, 1));
} */

/* .pd8-text-component :where(p, blockquote, ul li, ol li) {
    line-height: var(--pd8-body-line-height, 1.4);
}

.pd8-text-component :where(ul, ol, p, blockquote, .pd8-text-component__block) {
    margin-bottom: calc(var(--pd8-space-sm) * var(--pd8-space-multiplier, 1));
} */

.pd8-text-component :where(ul, ol) {
    padding-left: 1.25em;
}

.pd8-text-component ul :where(ul, ol),
.pd8-text-component ol :where(ul, ol) {
    padding-left: 1em;
    margin-bottom: 0;
}

.pd8-text-component ul {
    list-style-type: disc;
}

.pd8-text-component ol {
    list-style-type: decimal;
}

.pd8-text-component img {
    display: block;
    margin: 0 auto;
}

.pd8-text-component figcaption {
    margin-top: calc(var(--pd8-space-xs) * var(--pd8-space-multiplier, 1));
    font-size: var(--pd8-text-sm);
    text-align: center;
}

.pd8-text-component em {
    font-style: italic;
}

.pd8-text-component strong {
    font-weight: bold;
}

.pd8-text-component s {
    text-decoration: line-through;
}

.pd8-text-component u {
    text-decoration: underline;
}

.pd8-text-component mark {
    background-color: hsla(var(--pd8-color-accent-hsl), 0.2);
    color: inherit;
}

.pd8-text-component blockquote {
    padding-left: 1em;
    border-left: 4px solid hsl(var(--pd8-color-contrast-lower-hsl));
    font-style: italic;
}

.pd8-text-component hr {
    margin: calc(var(--pd8-space-md) * var(--pd8-space-multiplier, 1)) auto;
    background: hsl(var(--pd8-color-contrast-lower-hsl));
    height: 1px;
}

.pd8-text-component>*:first-child {
    margin-top: 0;
}

.pd8-text-component>*:last-child {
    margin-bottom: 0;
}

.pd8-text-component.pd8-line-height-xs {
    --pd8-heading-line-height: 1;
    --pd8-body-line-height: 1.1;
}

.pd8-text-component.pd8-line-height-sm {
    --pd8-heading-line-height: 1.1;
    --pd8-body-line-height: 1.2;
}

.pd8-text-component.pd8-line-height-md {
    --pd8-heading-line-height: 1.15;
    --pd8-body-line-height: 1.4;
}

.pd8-text-component.pd8-line-height-lg {
    --pd8-heading-line-height: 1.22;
    --pd8-body-line-height: 1.58;
}

.pd8-text-component.pd8-line-height-xl {
    --pd8-heading-line-height: 1.3;
    --pd8-body-line-height: 1.72;
}

.pd8-shadow-md {
    box-shadow: 0 0.9px 1.5px rgba(0, 0, 0, 0.03), 0 3.1px 5.5px rgba(0, 0, 0, 0.08), 0 14px 25px rgba(0, 0, 0, 0.12);
}

:where(.pd8-inner-glow) {
    position: relative;
}

.pd8-inner-glow::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075);
}

.pd8-radius-md {
    border-radius: 0.25em;
}

.pd8-padding-sm {
    padding: var(--pd8-space-sm);
}

.pd8-bg-light {
    --pd8-bg-o: 1;
    background-color: hsla(var(--pd8-color-bg-light-hsl), var(--pd8-bg-o, 1));
}

.pd8-text-component {
    background-color: var(--white);
    border-radius: 5px;
    /* padding: 10px; */
}


@media (min-width: 550px) {
    /* header */

    .header .login-btn {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-inline-start: auto;
    }
}

/* responsive for larger screen */

@media (min-width: 992px) {
    /* header */

    .header {
        padding-block: 20px;
    }

    .overlay,
    .nav-open-btn,
    .navbar-top {
        display: none;
    }

    .navbar,
    .navbar.active {
        all: unset;
        margin-inline-start: auto;
    }

    .header .login-btn {
        margin-inline-start: 0;
    }

    .navbar-list {
        display: flex;
        gap: 20px;
    }

    .navbar-item:not(:last-child) {
        border-bottom: none;
    }

    .navbar-link {
        color: var(--color);
    }
}

@media (max-width: 550px) {
    .header .login-btn {
        display: none;
    }
}